* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  --font-gilroy: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

ul, ol {
  list-style: none;
}

/* ============================
   Gilroy Font-Face Declarations
   ============================ */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
:root {
  --theme-blue: 1, 56, 65;
  --theme-green: 3, 190, 106;
  --theme-yellow: 255, 215, 131;
  --theme-red: 255, 0, 0;
  --background-body: 245, 245, 245;
  --white: 255, 255, 255;
  --opacitu-5: 0.05;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
  --border-general: 0.5px solid rgb(var(--theme-blue), var(--opacity-20));
  --radius-general: 20px;
}

.fca-flex-row {
  display: flex;
  flex-direction: row;
}

.fca-flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.fca-flex-col {
  display: flex;
  flex-direction: column;
}

.fca-flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.fca-grid-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-7 {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-8 {
  display: grid;
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-9 {
  display: grid;
  grid-template-columns: repeat(9, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-grid-10 {
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, 1fr));
  gap: 1rem;
}

.fca-m-1 {
  margin: 1px;
}

.fca-mt-1 {
  margin-top: 1px;
}

.fca-mb-1 {
  margin-bottom: 1px;
}

.fca-ml-1 {
  margin-left: 1px;
}

.fca-mr-1 {
  margin-right: 1px;
}

.fca-p-1 {
  padding: 1px;
}

.fca-pt-1 {
  padding-top: 1px;
}

.fca-pb-1 {
  padding-bottom: 1px;
}

.fca-pl-1 {
  padding-left: 1px;
}

.fca-pr-1 {
  padding-right: 1px;
}

.fca-rad-1 {
  border-radius: 1px;
}

.fca-rad-t-1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.fca-rad-b-1 {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.fca-rad-l-1 {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.fca-rad-r-1 {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.fca-gap-1 {
  gap: 1px;
}

.fca-gap-r-1 {
  row-gap: 1px;
}

.fca-gap-c-1 {
  column-gap: 1px;
}

.fca-m-2 {
  margin: 2px;
}

.fca-mt-2 {
  margin-top: 2px;
}

.fca-mb-2 {
  margin-bottom: 2px;
}

.fca-ml-2 {
  margin-left: 2px;
}

.fca-mr-2 {
  margin-right: 2px;
}

.fca-p-2 {
  padding: 2px;
}

.fca-pt-2 {
  padding-top: 2px;
}

.fca-pb-2 {
  padding-bottom: 2px;
}

.fca-pl-2 {
  padding-left: 2px;
}

.fca-pr-2 {
  padding-right: 2px;
}

.fca-rad-2 {
  border-radius: 2px;
}

.fca-rad-t-2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.fca-rad-b-2 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.fca-rad-l-2 {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.fca-rad-r-2 {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.fca-gap-2 {
  gap: 2px;
}

.fca-gap-r-2 {
  row-gap: 2px;
}

.fca-gap-c-2 {
  column-gap: 2px;
}

.fca-m-3 {
  margin: 3px;
}

.fca-mt-3 {
  margin-top: 3px;
}

.fca-mb-3 {
  margin-bottom: 3px;
}

.fca-ml-3 {
  margin-left: 3px;
}

.fca-mr-3 {
  margin-right: 3px;
}

.fca-p-3 {
  padding: 3px;
}

.fca-pt-3 {
  padding-top: 3px;
}

.fca-pb-3 {
  padding-bottom: 3px;
}

.fca-pl-3 {
  padding-left: 3px;
}

.fca-pr-3 {
  padding-right: 3px;
}

.fca-rad-3 {
  border-radius: 3px;
}

.fca-rad-t-3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.fca-rad-b-3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fca-rad-l-3 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.fca-rad-r-3 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fca-gap-3 {
  gap: 3px;
}

.fca-gap-r-3 {
  row-gap: 3px;
}

.fca-gap-c-3 {
  column-gap: 3px;
}

.fca-m-4 {
  margin: 4px;
}

.fca-mt-4 {
  margin-top: 4px;
}

.fca-mb-4 {
  margin-bottom: 4px;
}

.fca-ml-4 {
  margin-left: 4px;
}

.fca-mr-4 {
  margin-right: 4px;
}

.fca-p-4 {
  padding: 4px;
}

.fca-pt-4 {
  padding-top: 4px;
}

.fca-pb-4 {
  padding-bottom: 4px;
}

.fca-pl-4 {
  padding-left: 4px;
}

.fca-pr-4 {
  padding-right: 4px;
}

.fca-rad-4 {
  border-radius: 4px;
}

.fca-rad-t-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fca-rad-b-4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fca-rad-l-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fca-rad-r-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fca-gap-4 {
  gap: 4px;
}

.fca-gap-r-4 {
  row-gap: 4px;
}

.fca-gap-c-4 {
  column-gap: 4px;
}

.fca-m-5 {
  margin: 5px;
}

.fca-mt-5 {
  margin-top: 5px;
}

.fca-mb-5 {
  margin-bottom: 5px;
}

.fca-ml-5 {
  margin-left: 5px;
}

.fca-mr-5 {
  margin-right: 5px;
}

.fca-p-5 {
  padding: 5px;
}

.fca-pt-5 {
  padding-top: 5px;
}

.fca-pb-5 {
  padding-bottom: 5px;
}

.fca-pl-5 {
  padding-left: 5px;
}

.fca-pr-5 {
  padding-right: 5px;
}

.fca-rad-5 {
  border-radius: 5px;
}

.fca-rad-t-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fca-rad-b-5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fca-rad-l-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.fca-rad-r-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fca-gap-5 {
  gap: 5px;
}

.fca-gap-r-5 {
  row-gap: 5px;
}

.fca-gap-c-5 {
  column-gap: 5px;
}

.fca-m-6 {
  margin: 6px;
}

.fca-mt-6 {
  margin-top: 6px;
}

.fca-mb-6 {
  margin-bottom: 6px;
}

.fca-ml-6 {
  margin-left: 6px;
}

.fca-mr-6 {
  margin-right: 6px;
}

.fca-p-6 {
  padding: 6px;
}

.fca-pt-6 {
  padding-top: 6px;
}

.fca-pb-6 {
  padding-bottom: 6px;
}

.fca-pl-6 {
  padding-left: 6px;
}

.fca-pr-6 {
  padding-right: 6px;
}

.fca-rad-6 {
  border-radius: 6px;
}

.fca-rad-t-6 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fca-rad-b-6 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fca-rad-l-6 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.fca-rad-r-6 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fca-gap-6 {
  gap: 6px;
}

.fca-gap-r-6 {
  row-gap: 6px;
}

.fca-gap-c-6 {
  column-gap: 6px;
}

.fca-m-7 {
  margin: 7px;
}

.fca-mt-7 {
  margin-top: 7px;
}

.fca-mb-7 {
  margin-bottom: 7px;
}

.fca-ml-7 {
  margin-left: 7px;
}

.fca-mr-7 {
  margin-right: 7px;
}

.fca-p-7 {
  padding: 7px;
}

.fca-pt-7 {
  padding-top: 7px;
}

.fca-pb-7 {
  padding-bottom: 7px;
}

.fca-pl-7 {
  padding-left: 7px;
}

.fca-pr-7 {
  padding-right: 7px;
}

.fca-rad-7 {
  border-radius: 7px;
}

.fca-rad-t-7 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.fca-rad-b-7 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.fca-rad-l-7 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.fca-rad-r-7 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.fca-gap-7 {
  gap: 7px;
}

.fca-gap-r-7 {
  row-gap: 7px;
}

.fca-gap-c-7 {
  column-gap: 7px;
}

.fca-m-8 {
  margin: 8px;
}

.fca-mt-8 {
  margin-top: 8px;
}

.fca-mb-8 {
  margin-bottom: 8px;
}

.fca-ml-8 {
  margin-left: 8px;
}

.fca-mr-8 {
  margin-right: 8px;
}

.fca-p-8 {
  padding: 8px;
}

.fca-pt-8 {
  padding-top: 8px;
}

.fca-pb-8 {
  padding-bottom: 8px;
}

.fca-pl-8 {
  padding-left: 8px;
}

.fca-pr-8 {
  padding-right: 8px;
}

.fca-rad-8 {
  border-radius: 8px;
}

.fca-rad-t-8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.fca-rad-b-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.fca-rad-l-8 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.fca-rad-r-8 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.fca-gap-8 {
  gap: 8px;
}

.fca-gap-r-8 {
  row-gap: 8px;
}

.fca-gap-c-8 {
  column-gap: 8px;
}

.fca-m-9 {
  margin: 9px;
}

.fca-mt-9 {
  margin-top: 9px;
}

.fca-mb-9 {
  margin-bottom: 9px;
}

.fca-ml-9 {
  margin-left: 9px;
}

.fca-mr-9 {
  margin-right: 9px;
}

.fca-p-9 {
  padding: 9px;
}

.fca-pt-9 {
  padding-top: 9px;
}

.fca-pb-9 {
  padding-bottom: 9px;
}

.fca-pl-9 {
  padding-left: 9px;
}

.fca-pr-9 {
  padding-right: 9px;
}

.fca-rad-9 {
  border-radius: 9px;
}

.fca-rad-t-9 {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.fca-rad-b-9 {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.fca-rad-l-9 {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.fca-rad-r-9 {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.fca-gap-9 {
  gap: 9px;
}

.fca-gap-r-9 {
  row-gap: 9px;
}

.fca-gap-c-9 {
  column-gap: 9px;
}

.fca-m-10 {
  margin: 10px;
}

.fca-mt-10 {
  margin-top: 10px;
}

.fca-mb-10 {
  margin-bottom: 10px;
}

.fca-ml-10 {
  margin-left: 10px;
}

.fca-mr-10 {
  margin-right: 10px;
}

.fca-p-10 {
  padding: 10px;
}

.fca-pt-10 {
  padding-top: 10px;
}

.fca-pb-10 {
  padding-bottom: 10px;
}

.fca-pl-10 {
  padding-left: 10px;
}

.fca-pr-10 {
  padding-right: 10px;
}

.fca-rad-10 {
  border-radius: 10px;
}

.fca-rad-t-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fca-rad-b-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fca-rad-l-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fca-rad-r-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fca-gap-10 {
  gap: 10px;
}

.fca-gap-r-10 {
  row-gap: 10px;
}

.fca-gap-c-10 {
  column-gap: 10px;
}

.fca-m-11 {
  margin: 11px;
}

.fca-mt-11 {
  margin-top: 11px;
}

.fca-mb-11 {
  margin-bottom: 11px;
}

.fca-ml-11 {
  margin-left: 11px;
}

.fca-mr-11 {
  margin-right: 11px;
}

.fca-p-11 {
  padding: 11px;
}

.fca-pt-11 {
  padding-top: 11px;
}

.fca-pb-11 {
  padding-bottom: 11px;
}

.fca-pl-11 {
  padding-left: 11px;
}

.fca-pr-11 {
  padding-right: 11px;
}

.fca-rad-11 {
  border-radius: 11px;
}

.fca-rad-t-11 {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.fca-rad-b-11 {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.fca-rad-l-11 {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.fca-rad-r-11 {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.fca-gap-11 {
  gap: 11px;
}

.fca-gap-r-11 {
  row-gap: 11px;
}

.fca-gap-c-11 {
  column-gap: 11px;
}

.fca-m-12 {
  margin: 12px;
}

.fca-mt-12 {
  margin-top: 12px;
}

.fca-mb-12 {
  margin-bottom: 12px;
}

.fca-ml-12 {
  margin-left: 12px;
}

.fca-mr-12 {
  margin-right: 12px;
}

.fca-p-12 {
  padding: 12px;
}

.fca-pt-12 {
  padding-top: 12px;
}

.fca-pb-12 {
  padding-bottom: 12px;
}

.fca-pl-12 {
  padding-left: 12px;
}

.fca-pr-12 {
  padding-right: 12px;
}

.fca-rad-12 {
  border-radius: 12px;
}

.fca-rad-t-12 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.fca-rad-b-12 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.fca-rad-l-12 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.fca-rad-r-12 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.fca-gap-12 {
  gap: 12px;
}

.fca-gap-r-12 {
  row-gap: 12px;
}

.fca-gap-c-12 {
  column-gap: 12px;
}

.fca-m-13 {
  margin: 13px;
}

.fca-mt-13 {
  margin-top: 13px;
}

.fca-mb-13 {
  margin-bottom: 13px;
}

.fca-ml-13 {
  margin-left: 13px;
}

.fca-mr-13 {
  margin-right: 13px;
}

.fca-p-13 {
  padding: 13px;
}

.fca-pt-13 {
  padding-top: 13px;
}

.fca-pb-13 {
  padding-bottom: 13px;
}

.fca-pl-13 {
  padding-left: 13px;
}

.fca-pr-13 {
  padding-right: 13px;
}

.fca-rad-13 {
  border-radius: 13px;
}

.fca-rad-t-13 {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.fca-rad-b-13 {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.fca-rad-l-13 {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.fca-rad-r-13 {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.fca-gap-13 {
  gap: 13px;
}

.fca-gap-r-13 {
  row-gap: 13px;
}

.fca-gap-c-13 {
  column-gap: 13px;
}

.fca-m-14 {
  margin: 14px;
}

.fca-mt-14 {
  margin-top: 14px;
}

.fca-mb-14 {
  margin-bottom: 14px;
}

.fca-ml-14 {
  margin-left: 14px;
}

.fca-mr-14 {
  margin-right: 14px;
}

.fca-p-14 {
  padding: 14px;
}

.fca-pt-14 {
  padding-top: 14px;
}

.fca-pb-14 {
  padding-bottom: 14px;
}

.fca-pl-14 {
  padding-left: 14px;
}

.fca-pr-14 {
  padding-right: 14px;
}

.fca-rad-14 {
  border-radius: 14px;
}

.fca-rad-t-14 {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.fca-rad-b-14 {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.fca-rad-l-14 {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.fca-rad-r-14 {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.fca-gap-14 {
  gap: 14px;
}

.fca-gap-r-14 {
  row-gap: 14px;
}

.fca-gap-c-14 {
  column-gap: 14px;
}

.fca-m-15 {
  margin: 15px;
}

.fca-mt-15 {
  margin-top: 15px;
}

.fca-mb-15 {
  margin-bottom: 15px;
}

.fca-ml-15 {
  margin-left: 15px;
}

.fca-mr-15 {
  margin-right: 15px;
}

.fca-p-15 {
  padding: 15px;
}

.fca-pt-15 {
  padding-top: 15px;
}

.fca-pb-15 {
  padding-bottom: 15px;
}

.fca-pl-15 {
  padding-left: 15px;
}

.fca-pr-15 {
  padding-right: 15px;
}

.fca-rad-15 {
  border-radius: 15px;
}

.fca-rad-t-15 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fca-rad-b-15 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fca-rad-l-15 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fca-rad-r-15 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fca-gap-15 {
  gap: 15px;
}

.fca-gap-r-15 {
  row-gap: 15px;
}

.fca-gap-c-15 {
  column-gap: 15px;
}

.fca-m-16 {
  margin: 16px;
}

.fca-mt-16 {
  margin-top: 16px;
}

.fca-mb-16 {
  margin-bottom: 16px;
}

.fca-ml-16 {
  margin-left: 16px;
}

.fca-mr-16 {
  margin-right: 16px;
}

.fca-p-16 {
  padding: 16px;
}

.fca-pt-16 {
  padding-top: 16px;
}

.fca-pb-16 {
  padding-bottom: 16px;
}

.fca-pl-16 {
  padding-left: 16px;
}

.fca-pr-16 {
  padding-right: 16px;
}

.fca-rad-16 {
  border-radius: 16px;
}

.fca-rad-t-16 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.fca-rad-b-16 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.fca-rad-l-16 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.fca-rad-r-16 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.fca-gap-16 {
  gap: 16px;
}

.fca-gap-r-16 {
  row-gap: 16px;
}

.fca-gap-c-16 {
  column-gap: 16px;
}

.fca-m-17 {
  margin: 17px;
}

.fca-mt-17 {
  margin-top: 17px;
}

.fca-mb-17 {
  margin-bottom: 17px;
}

.fca-ml-17 {
  margin-left: 17px;
}

.fca-mr-17 {
  margin-right: 17px;
}

.fca-p-17 {
  padding: 17px;
}

.fca-pt-17 {
  padding-top: 17px;
}

.fca-pb-17 {
  padding-bottom: 17px;
}

.fca-pl-17 {
  padding-left: 17px;
}

.fca-pr-17 {
  padding-right: 17px;
}

.fca-rad-17 {
  border-radius: 17px;
}

.fca-rad-t-17 {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.fca-rad-b-17 {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.fca-rad-l-17 {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.fca-rad-r-17 {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.fca-gap-17 {
  gap: 17px;
}

.fca-gap-r-17 {
  row-gap: 17px;
}

.fca-gap-c-17 {
  column-gap: 17px;
}

.fca-m-18 {
  margin: 18px;
}

.fca-mt-18 {
  margin-top: 18px;
}

.fca-mb-18 {
  margin-bottom: 18px;
}

.fca-ml-18 {
  margin-left: 18px;
}

.fca-mr-18 {
  margin-right: 18px;
}

.fca-p-18 {
  padding: 18px;
}

.fca-pt-18 {
  padding-top: 18px;
}

.fca-pb-18 {
  padding-bottom: 18px;
}

.fca-pl-18 {
  padding-left: 18px;
}

.fca-pr-18 {
  padding-right: 18px;
}

.fca-rad-18 {
  border-radius: 18px;
}

.fca-rad-t-18 {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.fca-rad-b-18 {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.fca-rad-l-18 {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.fca-rad-r-18 {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.fca-gap-18 {
  gap: 18px;
}

.fca-gap-r-18 {
  row-gap: 18px;
}

.fca-gap-c-18 {
  column-gap: 18px;
}

.fca-m-19 {
  margin: 19px;
}

.fca-mt-19 {
  margin-top: 19px;
}

.fca-mb-19 {
  margin-bottom: 19px;
}

.fca-ml-19 {
  margin-left: 19px;
}

.fca-mr-19 {
  margin-right: 19px;
}

.fca-p-19 {
  padding: 19px;
}

.fca-pt-19 {
  padding-top: 19px;
}

.fca-pb-19 {
  padding-bottom: 19px;
}

.fca-pl-19 {
  padding-left: 19px;
}

.fca-pr-19 {
  padding-right: 19px;
}

.fca-rad-19 {
  border-radius: 19px;
}

.fca-rad-t-19 {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.fca-rad-b-19 {
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.fca-rad-l-19 {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.fca-rad-r-19 {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.fca-gap-19 {
  gap: 19px;
}

.fca-gap-r-19 {
  row-gap: 19px;
}

.fca-gap-c-19 {
  column-gap: 19px;
}

.fca-m-20 {
  margin: 20px;
}

.fca-mt-20 {
  margin-top: 20px;
}

.fca-mb-20 {
  margin-bottom: 20px;
}

.fca-ml-20 {
  margin-left: 20px;
}

.fca-mr-20 {
  margin-right: 20px;
}

.fca-p-20 {
  padding: 20px;
}

.fca-pt-20 {
  padding-top: 20px;
}

.fca-pb-20 {
  padding-bottom: 20px;
}

.fca-pl-20 {
  padding-left: 20px;
}

.fca-pr-20 {
  padding-right: 20px;
}

.fca-rad-20 {
  border-radius: 20px;
}

.fca-rad-t-20 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fca-rad-b-20 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fca-rad-l-20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fca-rad-r-20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fca-gap-20 {
  gap: 20px;
}

.fca-gap-r-20 {
  row-gap: 20px;
}

.fca-gap-c-20 {
  column-gap: 20px;
}

.fca-m-21 {
  margin: 21px;
}

.fca-mt-21 {
  margin-top: 21px;
}

.fca-mb-21 {
  margin-bottom: 21px;
}

.fca-ml-21 {
  margin-left: 21px;
}

.fca-mr-21 {
  margin-right: 21px;
}

.fca-p-21 {
  padding: 21px;
}

.fca-pt-21 {
  padding-top: 21px;
}

.fca-pb-21 {
  padding-bottom: 21px;
}

.fca-pl-21 {
  padding-left: 21px;
}

.fca-pr-21 {
  padding-right: 21px;
}

.fca-rad-21 {
  border-radius: 21px;
}

.fca-rad-t-21 {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.fca-rad-b-21 {
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.fca-rad-l-21 {
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

.fca-rad-r-21 {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

.fca-gap-21 {
  gap: 21px;
}

.fca-gap-r-21 {
  row-gap: 21px;
}

.fca-gap-c-21 {
  column-gap: 21px;
}

.fca-m-22 {
  margin: 22px;
}

.fca-mt-22 {
  margin-top: 22px;
}

.fca-mb-22 {
  margin-bottom: 22px;
}

.fca-ml-22 {
  margin-left: 22px;
}

.fca-mr-22 {
  margin-right: 22px;
}

.fca-p-22 {
  padding: 22px;
}

.fca-pt-22 {
  padding-top: 22px;
}

.fca-pb-22 {
  padding-bottom: 22px;
}

.fca-pl-22 {
  padding-left: 22px;
}

.fca-pr-22 {
  padding-right: 22px;
}

.fca-rad-22 {
  border-radius: 22px;
}

.fca-rad-t-22 {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.fca-rad-b-22 {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.fca-rad-l-22 {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.fca-rad-r-22 {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.fca-gap-22 {
  gap: 22px;
}

.fca-gap-r-22 {
  row-gap: 22px;
}

.fca-gap-c-22 {
  column-gap: 22px;
}

.fca-m-23 {
  margin: 23px;
}

.fca-mt-23 {
  margin-top: 23px;
}

.fca-mb-23 {
  margin-bottom: 23px;
}

.fca-ml-23 {
  margin-left: 23px;
}

.fca-mr-23 {
  margin-right: 23px;
}

.fca-p-23 {
  padding: 23px;
}

.fca-pt-23 {
  padding-top: 23px;
}

.fca-pb-23 {
  padding-bottom: 23px;
}

.fca-pl-23 {
  padding-left: 23px;
}

.fca-pr-23 {
  padding-right: 23px;
}

.fca-rad-23 {
  border-radius: 23px;
}

.fca-rad-t-23 {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.fca-rad-b-23 {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.fca-rad-l-23 {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.fca-rad-r-23 {
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.fca-gap-23 {
  gap: 23px;
}

.fca-gap-r-23 {
  row-gap: 23px;
}

.fca-gap-c-23 {
  column-gap: 23px;
}

.fca-m-24 {
  margin: 24px;
}

.fca-mt-24 {
  margin-top: 24px;
}

.fca-mb-24 {
  margin-bottom: 24px;
}

.fca-ml-24 {
  margin-left: 24px;
}

.fca-mr-24 {
  margin-right: 24px;
}

.fca-p-24 {
  padding: 24px;
}

.fca-pt-24 {
  padding-top: 24px;
}

.fca-pb-24 {
  padding-bottom: 24px;
}

.fca-pl-24 {
  padding-left: 24px;
}

.fca-pr-24 {
  padding-right: 24px;
}

.fca-rad-24 {
  border-radius: 24px;
}

.fca-rad-t-24 {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.fca-rad-b-24 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.fca-rad-l-24 {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.fca-rad-r-24 {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.fca-gap-24 {
  gap: 24px;
}

.fca-gap-r-24 {
  row-gap: 24px;
}

.fca-gap-c-24 {
  column-gap: 24px;
}

.fca-m-25 {
  margin: 25px;
}

.fca-mt-25 {
  margin-top: 25px;
}

.fca-mb-25 {
  margin-bottom: 25px;
}

.fca-ml-25 {
  margin-left: 25px;
}

.fca-mr-25 {
  margin-right: 25px;
}

.fca-p-25 {
  padding: 25px;
}

.fca-pt-25 {
  padding-top: 25px;
}

.fca-pb-25 {
  padding-bottom: 25px;
}

.fca-pl-25 {
  padding-left: 25px;
}

.fca-pr-25 {
  padding-right: 25px;
}

.fca-rad-25 {
  border-radius: 25px;
}

.fca-rad-t-25 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.fca-rad-b-25 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.fca-rad-l-25 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.fca-rad-r-25 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.fca-gap-25 {
  gap: 25px;
}

.fca-gap-r-25 {
  row-gap: 25px;
}

.fca-gap-c-25 {
  column-gap: 25px;
}

.fca-m-26 {
  margin: 26px;
}

.fca-mt-26 {
  margin-top: 26px;
}

.fca-mb-26 {
  margin-bottom: 26px;
}

.fca-ml-26 {
  margin-left: 26px;
}

.fca-mr-26 {
  margin-right: 26px;
}

.fca-p-26 {
  padding: 26px;
}

.fca-pt-26 {
  padding-top: 26px;
}

.fca-pb-26 {
  padding-bottom: 26px;
}

.fca-pl-26 {
  padding-left: 26px;
}

.fca-pr-26 {
  padding-right: 26px;
}

.fca-rad-26 {
  border-radius: 26px;
}

.fca-rad-t-26 {
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.fca-rad-b-26 {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.fca-rad-l-26 {
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.fca-rad-r-26 {
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}

.fca-gap-26 {
  gap: 26px;
}

.fca-gap-r-26 {
  row-gap: 26px;
}

.fca-gap-c-26 {
  column-gap: 26px;
}

.fca-m-27 {
  margin: 27px;
}

.fca-mt-27 {
  margin-top: 27px;
}

.fca-mb-27 {
  margin-bottom: 27px;
}

.fca-ml-27 {
  margin-left: 27px;
}

.fca-mr-27 {
  margin-right: 27px;
}

.fca-p-27 {
  padding: 27px;
}

.fca-pt-27 {
  padding-top: 27px;
}

.fca-pb-27 {
  padding-bottom: 27px;
}

.fca-pl-27 {
  padding-left: 27px;
}

.fca-pr-27 {
  padding-right: 27px;
}

.fca-rad-27 {
  border-radius: 27px;
}

.fca-rad-t-27 {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
}

.fca-rad-b-27 {
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

.fca-rad-l-27 {
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}

.fca-rad-r-27 {
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
}

.fca-gap-27 {
  gap: 27px;
}

.fca-gap-r-27 {
  row-gap: 27px;
}

.fca-gap-c-27 {
  column-gap: 27px;
}

.fca-m-28 {
  margin: 28px;
}

.fca-mt-28 {
  margin-top: 28px;
}

.fca-mb-28 {
  margin-bottom: 28px;
}

.fca-ml-28 {
  margin-left: 28px;
}

.fca-mr-28 {
  margin-right: 28px;
}

.fca-p-28 {
  padding: 28px;
}

.fca-pt-28 {
  padding-top: 28px;
}

.fca-pb-28 {
  padding-bottom: 28px;
}

.fca-pl-28 {
  padding-left: 28px;
}

.fca-pr-28 {
  padding-right: 28px;
}

.fca-rad-28 {
  border-radius: 28px;
}

.fca-rad-t-28 {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.fca-rad-b-28 {
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

.fca-rad-l-28 {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.fca-rad-r-28 {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.fca-gap-28 {
  gap: 28px;
}

.fca-gap-r-28 {
  row-gap: 28px;
}

.fca-gap-c-28 {
  column-gap: 28px;
}

.fca-m-29 {
  margin: 29px;
}

.fca-mt-29 {
  margin-top: 29px;
}

.fca-mb-29 {
  margin-bottom: 29px;
}

.fca-ml-29 {
  margin-left: 29px;
}

.fca-mr-29 {
  margin-right: 29px;
}

.fca-p-29 {
  padding: 29px;
}

.fca-pt-29 {
  padding-top: 29px;
}

.fca-pb-29 {
  padding-bottom: 29px;
}

.fca-pl-29 {
  padding-left: 29px;
}

.fca-pr-29 {
  padding-right: 29px;
}

.fca-rad-29 {
  border-radius: 29px;
}

.fca-rad-t-29 {
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}

.fca-rad-b-29 {
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}

.fca-rad-l-29 {
  border-top-left-radius: 29px;
  border-bottom-left-radius: 29px;
}

.fca-rad-r-29 {
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
}

.fca-gap-29 {
  gap: 29px;
}

.fca-gap-r-29 {
  row-gap: 29px;
}

.fca-gap-c-29 {
  column-gap: 29px;
}

.fca-m-30 {
  margin: 30px;
}

.fca-mt-30 {
  margin-top: 30px;
}

.fca-mb-30 {
  margin-bottom: 30px;
}

.fca-ml-30 {
  margin-left: 30px;
}

.fca-mr-30 {
  margin-right: 30px;
}

.fca-p-30 {
  padding: 30px;
}

.fca-pt-30 {
  padding-top: 30px;
}

.fca-pb-30 {
  padding-bottom: 30px;
}

.fca-pl-30 {
  padding-left: 30px;
}

.fca-pr-30 {
  padding-right: 30px;
}

.fca-rad-30 {
  border-radius: 30px;
}

.fca-rad-t-30 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.fca-rad-b-30 {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fca-rad-l-30 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.fca-rad-r-30 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fca-gap-30 {
  gap: 30px;
}

.fca-gap-r-30 {
  row-gap: 30px;
}

.fca-gap-c-30 {
  column-gap: 30px;
}

.fca-m-31 {
  margin: 31px;
}

.fca-mt-31 {
  margin-top: 31px;
}

.fca-mb-31 {
  margin-bottom: 31px;
}

.fca-ml-31 {
  margin-left: 31px;
}

.fca-mr-31 {
  margin-right: 31px;
}

.fca-p-31 {
  padding: 31px;
}

.fca-pt-31 {
  padding-top: 31px;
}

.fca-pb-31 {
  padding-bottom: 31px;
}

.fca-pl-31 {
  padding-left: 31px;
}

.fca-pr-31 {
  padding-right: 31px;
}

.fca-rad-31 {
  border-radius: 31px;
}

.fca-rad-t-31 {
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
}

.fca-rad-b-31 {
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
}

.fca-rad-l-31 {
  border-top-left-radius: 31px;
  border-bottom-left-radius: 31px;
}

.fca-rad-r-31 {
  border-top-right-radius: 31px;
  border-bottom-right-radius: 31px;
}

.fca-gap-31 {
  gap: 31px;
}

.fca-gap-r-31 {
  row-gap: 31px;
}

.fca-gap-c-31 {
  column-gap: 31px;
}

.fca-m-32 {
  margin: 32px;
}

.fca-mt-32 {
  margin-top: 32px;
}

.fca-mb-32 {
  margin-bottom: 32px;
}

.fca-ml-32 {
  margin-left: 32px;
}

.fca-mr-32 {
  margin-right: 32px;
}

.fca-p-32 {
  padding: 32px;
}

.fca-pt-32 {
  padding-top: 32px;
}

.fca-pb-32 {
  padding-bottom: 32px;
}

.fca-pl-32 {
  padding-left: 32px;
}

.fca-pr-32 {
  padding-right: 32px;
}

.fca-rad-32 {
  border-radius: 32px;
}

.fca-rad-t-32 {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.fca-rad-b-32 {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.fca-rad-l-32 {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.fca-rad-r-32 {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.fca-gap-32 {
  gap: 32px;
}

.fca-gap-r-32 {
  row-gap: 32px;
}

.fca-gap-c-32 {
  column-gap: 32px;
}

.fca-m-33 {
  margin: 33px;
}

.fca-mt-33 {
  margin-top: 33px;
}

.fca-mb-33 {
  margin-bottom: 33px;
}

.fca-ml-33 {
  margin-left: 33px;
}

.fca-mr-33 {
  margin-right: 33px;
}

.fca-p-33 {
  padding: 33px;
}

.fca-pt-33 {
  padding-top: 33px;
}

.fca-pb-33 {
  padding-bottom: 33px;
}

.fca-pl-33 {
  padding-left: 33px;
}

.fca-pr-33 {
  padding-right: 33px;
}

.fca-rad-33 {
  border-radius: 33px;
}

.fca-rad-t-33 {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

.fca-rad-b-33 {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.fca-rad-l-33 {
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
}

.fca-rad-r-33 {
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
}

.fca-gap-33 {
  gap: 33px;
}

.fca-gap-r-33 {
  row-gap: 33px;
}

.fca-gap-c-33 {
  column-gap: 33px;
}

.fca-m-34 {
  margin: 34px;
}

.fca-mt-34 {
  margin-top: 34px;
}

.fca-mb-34 {
  margin-bottom: 34px;
}

.fca-ml-34 {
  margin-left: 34px;
}

.fca-mr-34 {
  margin-right: 34px;
}

.fca-p-34 {
  padding: 34px;
}

.fca-pt-34 {
  padding-top: 34px;
}

.fca-pb-34 {
  padding-bottom: 34px;
}

.fca-pl-34 {
  padding-left: 34px;
}

.fca-pr-34 {
  padding-right: 34px;
}

.fca-rad-34 {
  border-radius: 34px;
}

.fca-rad-t-34 {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.fca-rad-b-34 {
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
}

.fca-rad-l-34 {
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}

.fca-rad-r-34 {
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
}

.fca-gap-34 {
  gap: 34px;
}

.fca-gap-r-34 {
  row-gap: 34px;
}

.fca-gap-c-34 {
  column-gap: 34px;
}

.fca-m-35 {
  margin: 35px;
}

.fca-mt-35 {
  margin-top: 35px;
}

.fca-mb-35 {
  margin-bottom: 35px;
}

.fca-ml-35 {
  margin-left: 35px;
}

.fca-mr-35 {
  margin-right: 35px;
}

.fca-p-35 {
  padding: 35px;
}

.fca-pt-35 {
  padding-top: 35px;
}

.fca-pb-35 {
  padding-bottom: 35px;
}

.fca-pl-35 {
  padding-left: 35px;
}

.fca-pr-35 {
  padding-right: 35px;
}

.fca-rad-35 {
  border-radius: 35px;
}

.fca-rad-t-35 {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.fca-rad-b-35 {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.fca-rad-l-35 {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.fca-rad-r-35 {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.fca-gap-35 {
  gap: 35px;
}

.fca-gap-r-35 {
  row-gap: 35px;
}

.fca-gap-c-35 {
  column-gap: 35px;
}

.fca-m-36 {
  margin: 36px;
}

.fca-mt-36 {
  margin-top: 36px;
}

.fca-mb-36 {
  margin-bottom: 36px;
}

.fca-ml-36 {
  margin-left: 36px;
}

.fca-mr-36 {
  margin-right: 36px;
}

.fca-p-36 {
  padding: 36px;
}

.fca-pt-36 {
  padding-top: 36px;
}

.fca-pb-36 {
  padding-bottom: 36px;
}

.fca-pl-36 {
  padding-left: 36px;
}

.fca-pr-36 {
  padding-right: 36px;
}

.fca-rad-36 {
  border-radius: 36px;
}

.fca-rad-t-36 {
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

.fca-rad-b-36 {
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.fca-rad-l-36 {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

.fca-rad-r-36 {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}

.fca-gap-36 {
  gap: 36px;
}

.fca-gap-r-36 {
  row-gap: 36px;
}

.fca-gap-c-36 {
  column-gap: 36px;
}

.fca-m-37 {
  margin: 37px;
}

.fca-mt-37 {
  margin-top: 37px;
}

.fca-mb-37 {
  margin-bottom: 37px;
}

.fca-ml-37 {
  margin-left: 37px;
}

.fca-mr-37 {
  margin-right: 37px;
}

.fca-p-37 {
  padding: 37px;
}

.fca-pt-37 {
  padding-top: 37px;
}

.fca-pb-37 {
  padding-bottom: 37px;
}

.fca-pl-37 {
  padding-left: 37px;
}

.fca-pr-37 {
  padding-right: 37px;
}

.fca-rad-37 {
  border-radius: 37px;
}

.fca-rad-t-37 {
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
}

.fca-rad-b-37 {
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
}

.fca-rad-l-37 {
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
}

.fca-rad-r-37 {
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
}

.fca-gap-37 {
  gap: 37px;
}

.fca-gap-r-37 {
  row-gap: 37px;
}

.fca-gap-c-37 {
  column-gap: 37px;
}

.fca-m-38 {
  margin: 38px;
}

.fca-mt-38 {
  margin-top: 38px;
}

.fca-mb-38 {
  margin-bottom: 38px;
}

.fca-ml-38 {
  margin-left: 38px;
}

.fca-mr-38 {
  margin-right: 38px;
}

.fca-p-38 {
  padding: 38px;
}

.fca-pt-38 {
  padding-top: 38px;
}

.fca-pb-38 {
  padding-bottom: 38px;
}

.fca-pl-38 {
  padding-left: 38px;
}

.fca-pr-38 {
  padding-right: 38px;
}

.fca-rad-38 {
  border-radius: 38px;
}

.fca-rad-t-38 {
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
}

.fca-rad-b-38 {
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}

.fca-rad-l-38 {
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}

.fca-rad-r-38 {
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
}

.fca-gap-38 {
  gap: 38px;
}

.fca-gap-r-38 {
  row-gap: 38px;
}

.fca-gap-c-38 {
  column-gap: 38px;
}

.fca-m-39 {
  margin: 39px;
}

.fca-mt-39 {
  margin-top: 39px;
}

.fca-mb-39 {
  margin-bottom: 39px;
}

.fca-ml-39 {
  margin-left: 39px;
}

.fca-mr-39 {
  margin-right: 39px;
}

.fca-p-39 {
  padding: 39px;
}

.fca-pt-39 {
  padding-top: 39px;
}

.fca-pb-39 {
  padding-bottom: 39px;
}

.fca-pl-39 {
  padding-left: 39px;
}

.fca-pr-39 {
  padding-right: 39px;
}

.fca-rad-39 {
  border-radius: 39px;
}

.fca-rad-t-39 {
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
}

.fca-rad-b-39 {
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
}

.fca-rad-l-39 {
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
}

.fca-rad-r-39 {
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
}

.fca-gap-39 {
  gap: 39px;
}

.fca-gap-r-39 {
  row-gap: 39px;
}

.fca-gap-c-39 {
  column-gap: 39px;
}

.fca-m-40 {
  margin: 40px;
}

.fca-mt-40 {
  margin-top: 40px;
}

.fca-mb-40 {
  margin-bottom: 40px;
}

.fca-ml-40 {
  margin-left: 40px;
}

.fca-mr-40 {
  margin-right: 40px;
}

.fca-p-40 {
  padding: 40px;
}

.fca-pt-40 {
  padding-top: 40px;
}

.fca-pb-40 {
  padding-bottom: 40px;
}

.fca-pl-40 {
  padding-left: 40px;
}

.fca-pr-40 {
  padding-right: 40px;
}

.fca-rad-40 {
  border-radius: 40px;
}

.fca-rad-t-40 {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.fca-rad-b-40 {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.fca-rad-l-40 {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.fca-rad-r-40 {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.fca-gap-40 {
  gap: 40px;
}

.fca-gap-r-40 {
  row-gap: 40px;
}

.fca-gap-c-40 {
  column-gap: 40px;
}

.fca-js-ais {
  justify-content: flex-start;
  align-items: flex-start;
}

.fca-js-aie {
  justify-content: flex-start;
  align-items: flex-end;
}

.fca-js-aic {
  justify-content: flex-start;
  align-items: center;
}

.fca-js-aib {
  justify-content: flex-start;
  align-items: baseline;
}

.fca-js-aist {
  justify-content: flex-start;
  align-items: stretch;
}

.fca-je-ais {
  justify-content: flex-end;
  align-items: flex-start;
}

.fca-je-aie {
  justify-content: flex-end;
  align-items: flex-end;
}

.fca-je-aic {
  justify-content: flex-end;
  align-items: center;
}

.fca-je-aib {
  justify-content: flex-end;
  align-items: baseline;
}

.fca-je-aist {
  justify-content: flex-end;
  align-items: stretch;
}

.fca-jc-ais {
  justify-content: center;
  align-items: flex-start;
}

.fca-jc-aie {
  justify-content: center;
  align-items: flex-end;
}

.fca-jc-aic {
  justify-content: center;
  align-items: center;
}

.fca-jc-aib {
  justify-content: center;
  align-items: baseline;
}

.fca-jc-aist {
  justify-content: center;
  align-items: stretch;
}

.fca-jsb-ais {
  justify-content: space-between;
  align-items: flex-start;
}

.fca-jsb-aie {
  justify-content: space-between;
  align-items: flex-end;
}

.fca-jsb-aic {
  justify-content: space-between;
  align-items: center;
}

.fca-jsb-aib {
  justify-content: space-between;
  align-items: baseline;
}

.fca-jsb-aist {
  justify-content: space-between;
  align-items: stretch;
}

.fca-jsa-ais {
  justify-content: space-around;
  align-items: flex-start;
}

.fca-jsa-aie {
  justify-content: space-around;
  align-items: flex-end;
}

.fca-jsa-aic {
  justify-content: space-around;
  align-items: center;
}

.fca-jsa-aib {
  justify-content: space-around;
  align-items: baseline;
}

.fca-jsa-aist {
  justify-content: space-around;
  align-items: stretch;
}

.fca-jse-ais {
  justify-content: space-evenly;
  align-items: flex-start;
}

.fca-jse-aie {
  justify-content: space-evenly;
  align-items: flex-end;
}

.fca-jse-aic {
  justify-content: space-evenly;
  align-items: center;
}

.fca-jse-aib {
  justify-content: space-evenly;
  align-items: baseline;
}

.fca-jse-aist {
  justify-content: space-evenly;
  align-items: stretch;
}

:root {
  --splr: 165px;
  --sptb: 20px;
  --page-width: 1920px;
}

.fca-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fca-section > .fca-section-inner {
  padding: var(--sptb) var(--splr);
  max-width: var(--page-width);
  width: 100%;
  background: rgb(var(--theme-red), var(--opacity-5));
}